*{
    margin:0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    -webkit-print-color-adjust: exact !important;
}
.container{

    margin-left: auto;
    margin-right: auto;

}
.main{
    display: grid;
    grid-template-columns: 44% 1% 55%;
    padding-left: 2%;
    padding-right: 2%;
}

header{
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;    
    background-color: rgb(212, 211, 211);
    height:auto;
    margin:20px 0px;       
    box-shadow: 1px 1px 12px black;
}

.right{
    padding-left: 2%;
}
.name{
   padding:40px;
   text-align: center;
   
}


.personal-details{
    
    /* padding: 20px; */
    /* border-right: 1px solid black; */
    border-bottom: 1px dashed black;
}
 p{
    padding-top: 1px;
}

.skill{
    /* border-right: 1px solid black; */
    border-bottom: 1px dashed black;
    padding-right:2%;
    
}

.education-details{
    padding-top: 10px;
}

.edu-1{
    padding:10px 0px 0px 0px;
}

.edu-2{
    padding:10px 0px 0px 0px;
}

.aboutme,.skills{
    /* padding: 20px; */
    border-bottom: 1px dashed black;
}

.experience-details{
    /* border-right: 1px solid black; */
    padding-right:2%;
}

.certificate-details{
    border-bottom: 1px dashed black;

    padding-right:2%;
}

.skills-list {
    padding:10px 0px 0px 20px;
}
.print-btn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
button{
    background-color: rgb(118, 118, 250);
    border: 0%;
    outline: 0px;
    font-size: large;
    margin-top: 1%;
    padding: 5px 20px; 
}
i{
    padding-right: 2%;
}
.personal-details p{
    margin: 9px;
}
.skill h3,.experience-details h3,.certificate-details h3{
    padding-top: 10px;
}
#FName{
    font-size: 2em;
    font-weight: lighter;

}
#LName{
    font-size: 2em;
    margin-left: 1%;
    font-weight: bolder;
}
p,li{
    margin: 2%;
}
.centre{
    border-right: 1px black solid;
}
.img{
    margin: 15%;
}
img{
    max-width: 9em;
    border-radius: 50%;
}

